doctype html
html(class="no-js" lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/common/common.pug
    include ../components/footer/footer.pug

    include ../components/hero/hero.pug
    include ../components/example/example.pug

    head
        +head(head.defaults)
    body.page.body#some-id(data-some='name')
        |%=symbols=%

        .page__wrapper

            +header()
            //- +hero()
            +example()
            +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
