// GUI stylies of the project
// For example, styles of the links, buttons and so on.

button {

}

.logo {
    img {
        width: 50px;
    }
}

a {
    color: $white;
    text-decoration: none;
}
