mixin example(data)
    h1 Hello, World!
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse perferendis accusamus obcaecati ipsam commodi?
        a(href="javascript:;") Sequi numquam facere
        | libero pariatur, sit veniam at amet et in sunt incidunt quam dolorum ducimus!
