.hero {
    background-color: $bggray;
    height: 350px;
    .container {
        position: relative;
    }
    &__img {
        display: block;
        position: absolute;
        top: -50px;
        left: -140px;
    }
    &__offer {
        position: absolute;
        right: 0;
        width: 50%;
        text-align: left;
        .pretitle {
            margin-top: 8rem;
        }
    }
}
