mixin hero(data)
    .hero
        .container
            img.hero__img(src="/static/img/content/1.png" alt="")
            .hero__offer
                .pretitle From $80.00
                h2.title Nike Air Max
                .subtitle 50 Variants
                p Since this is our favorite sneaker, we\re bringing you 50 variants to suit everyone's needs.
                a.btn.btn-red(href="javascript:;") Browse variants
