.header {
    background-color: $lightred;
    overflow: hidden;
    &__top {
        background-color: $darkred;
        .menu li{
            display: flex;
            align-items: stretch;
            &:first-of-type {
                padding-left: 0;
            }
        }
    }
    &__cart {
        margin-left: auto;
        margin-right: 40px;
        display: flex;
        color: $white;
        align-items: center;
    }
    &__user {
        border-left: 1px solid rgba(255,255,255, .5);
        .menu li:first-of-type {
            padding-left: 1rem;
        }
        .menu li:last-of-type {
            background-color: $accentred;
            a {
                padding: .875rem 1rem;
            }
        }
    }
    .container {
        display: flex;
        justify-content: space-between;
    }
    .menu {
        display: flex;
        align-items: center;
        a {
            padding: .875rem 1rem;
            &:first-of-type {
                padding-left: 0;
            }
        }
    }
}
