mixin header(data)
    header.header
        .header__top
            .container
                +menu([
                    'Support',
                    'Delivery',
                    'Legal',
                    'About Us'
                ])
                .header__cart
                    i(class="cart")
                    .sum $465.00
                    .items 4 items
                .header__user
                    +menu([
                        'Login',
                        'Register'
                    ])
        .header__bottom
            .container
                +logo()
                +menu([
                    'Home',
                    'Men',
                    'Women',
                    'Children',
                    'Baby',
                    'Our Brands',
                    'Sales',
                ])
        +hero()

