mixin logo()
    a.logo(href="javascript:;")
        img(src="/static/img/general/logo.png" alt="")

mixin menu(data)
    ul.menu
        - for(var i in data)
            li
                a(href="javascript:;")= data[i]

